<!DOCTYPE html>
<html>
<head>
  <title>All Entries</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <h1>All Entries</h1>
  <table border="1" cellpadding="10">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th>Actions</th>
    </tr>
    <% forms.forEach(form => { %>
      <tr>
        <td><%= form.name %></td>
        <td><%= form.email %></td>
        <td><%= form.message %></td>
        <td>
          <a href="/edit/<%= form._id %>">Edit</a> |
          <form action="/delete/<%= form._id %>" method="POST" style="display:inline; padding: 0px;">
            <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
          </form >
        </td>
      </tr>
    <% }) %>
  </table>
  <br>
  <a href="/">Add New Entry</a>
</body>
</html>
